<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
     <%= form_with model:@opportunity, url: opportunity_path, local: true do |f| %>

        <div class="field">
          <%= f.label :title, "タイトル" %><br />
          <%= f.text_area :title,class: :form__text %>
        </div>

        <div class="field">
          <%= f.label :bottle_neck, "ネックになっている事" %><br />
          <%= f.text_area :bottle_neck, class: :form__text %>
        </div>

        <div class="field">
          <%= f.label :next_action, "次のアクション" %><br />
          <%= f.text_area :next_action, class: :form__text %>
        </div>

        <div class="field">
        <%= f.label :phase_id, "商談フェーズ" %><br />
         <%= f.collection_select(:phase_id,Phase.all, :id, :name, {}, {class:"select-box"}) %>
        </div>

         <div class="field">
        <%= f.label :motivation_id, "熱さレベル" %><br />
         <%= f.collection_select(:motivation_id,Motivation.all, :id, :name, {}, {class:"select-box"}) %>
        </div>


        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
